<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
    package="com.lovejoy777.rroandlayersmanager1" >

<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Layers"
        android:theme="@style/LayersTheme" >
        <activity
            android:name=".Splash"
            android:noHistory="true"
            android:label="Layers"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".menu"
            android:icon="@mipmap/ic_launcher"
            android:label="Menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager1.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Backup"
            android:icon="@mipmap/ic_launcher"
            android:label="Backup"
            android:theme="@style/LayersTheme"
            android:parentActivityName=".menu">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager1.BACKUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Install"
            android:icon="@mipmap/ic_launcher"
            android:label="Install"
            android:theme="@style/LayersTheme"
            android:parentActivityName=".menu">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager1.INSTALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings"
            android:icon="@mipmap/ic_launcher"
            android:label="Settings"
            android:theme="@style/LayersTheme"
            android:parentActivityName=".menu">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager1.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".filepicker.FilePickerActivity"
            android:label="Layers"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlaystoreSuperUser"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lovejoy777.rroandlayersmanager1.PLAYSU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Instructions"
            android:icon="@mipmap/ic_launcher"
            android:label="Instructions"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.INSTRUCTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:icon="@mipmap/ic_launcher"
            android:label="About"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeLog"
            android:icon="@mipmap/ic_launcher"
            android:label="ChangeLog"
            android:parentActivityName=".menu"
            android:theme="@style/LayersTheme">
            <intent-filter>
                <action android:name="android.intent.action.CHANGELOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
